---
title: Репертуар
layout: default
pageOrder: 4
---

block append styles
	style.
		.perfomance figure {
			float: left;
			margin: 0;
			margin-right: 1em;
		}
		.perfomance figure img {
			height: 18em;
			width: auto;
		}

h2=document.title

#repertoire.row
	each doc,key in getCollection('performances').toJSON()

		- var title = doc.title ? doc.title : "Без названия"
		- var author = doc.author ? doc.author : "Без автора"
		- var genre = doc.genre ? doc.genre : "Без жанра"
		- var synopsis = doc.synopsis ? doc.synopsis.split(/\n/) : ""
		- var duration = doc.duration ? doc.duration : ""
		- var premiere_date = doc.premiere_date ? doc.premiere_date : ""
		- var poster = doc.poster ? doc.poster : "/images/no-poster.jpg"

		if doc.entracte && doc.entracte == "1"
			- var entracte = " с одним антрактом"
		if doc.entracte && doc.entracte == "0"
			- var entracte = " без антракта"
		if !doc.entracte
			- var entracte = ""

		.perfomance.col-md-6
			h3: a(src=doc.url)=title
			p(style="float:right")
				em=genre
			p
				strong=author
			figure
				img(src=poster)
			if synopsis != ""
				.synopsis
					each string in synopsis
						p=string
			if duration != ""
				p: strong Длительность: #{duration}#{entracte}
			if premiere_date != ""
				p: em Премьера состоялась #{moment(premiere_date).lang("ru").format('LL')}
				//- - console.dir(moment.duration(100))