---
layout: default
---



if document.gender == "male"
	- var male = ( document.gender == "male" ) ? true : false
if document.grade && document.grade.length
	- var grade = document.grade

article#post.post

	header
		if document.navlinks
			- var navlinks = document.navlinks
			nav.posts-nav
				ul.pager
					if navlinks.url.prev
						li.previous-link
							a(href=navlinks.url.prev) ← #{navlinks.title.prev}
					if navlinks.url.next
						li.next-link
							a(href=navlinks.url.next) #{navlinks.title.next} →


	h1
		small=grade
		|  
		=document.title

	if document.photo && document.photo.length
		figure
			img(src=document.photo title=document.title alt=document.title)

	.post-content!= content

	if document.employment && document.employment.length
		section#employment
			if male
				h3 Занят в спектаклях
			if !male
				h3 Занята в спектаклях

			ul.employment-list
				each doc in document.employment
					li= doc

	if document.theater && document.theater.length
		section#theater
			h3 Роли в кино и сериалах
			ul.theater-list
				each doc in document.theater
					li= doc

	if document.cinema && document.cinema.length
		section#cinema
			h3 Роли в кино и сериалах
			ul.cinema-list
				each doc in document.cinema
					li= doc

	if document.kinoteatr && document.kinoteatr.length
		a(href=document.kinoteatr title="#{document.title} на Кино-Театр.ru")
			img(src="/images/stories/random/kino-teatr-88x31.gif" height="30px" width="auto")
	if document.ruskino && document.ruskino.length
		a(href=document.ruskino title="#{document.title} на RusKino.ru")
			img(src="/images/stories/random/rus-.png" height="30px" width="auto")

	footer
		if document.navlinks
			- var navlinks = document.navlinks
			nav.posts-nav
				ul.pager
					if navlinks.url.prev
						li.previous-link
							a(href=navlinks.url.prev) ← #{navlinks.title.prev}
					if navlinks.url.next
						li.next-link
							a(href=navlinks.url.next) #{navlinks.title.next} →