---
layout: default
---

article#post.post
	h1= document.title
	.post-content!= content

footer
	if document.navlinks
		- var navlinks = document.navlinks
		nav.posts-nav
			ul.pager
				if navlinks.url.prev
					li.previous-link
						a(href=navlinks.url.prev) #{navlinks.title.prev}
				if navlinks.url.next
					li.next-link
						a(href=navlinks.url.next) #{navlinks.title.next}
